/*
.hosting{
 */
.section_hosting div.hosting{
	padding-top: 90px;
	height: 362px;
}
.section_hosting div.hosting article{
	color: #ffffff;
	float: left;
	background: url('../img/line.gif') 25px 0px repeat-y;
	padding-left: 50px;
	
}
.section_hosting div.hosting :first-child{
	background: none;
}
.section_hosting div.hosting article ul{
	display: inline-block;
	font-size: 13px;
	list-style: none;
	color: #888888;
	width: 225px;
	padding-top: 10px;
}
.section_hosting div.hosting article ul li{
	padding-top: 20px;
	background: url('../img/line2.gif') 0px 10px repeat-x;
	padding-right: 5px;
	padding-left: 5px;
}

.section_hosting div.hosting article ul li span{
	float: right;
}
.section_hosting div.hosting article h2{
	font-size: 40px;
}
.section_hosting div.hosting article.small h2 span{
	color: #79bd00;
}
.section_hosting div.hosting article.medium h2 span{
	color: #01c3fe;
}
.section_hosting div.hosting article.unlimited h2 span{
	color: #dd00ff;
}
.section_hosting div.hosting article div.button{
	font-size: 24px;
	width: 170px;
	height: 46px;
	padding-top: 10px;
	padding-left: 20px;
	margin-top: 30px;
	margin-left: 35px;
}
.section_hosting div.hosting article.small div.button#small{
	background: url('../img/button_small.png') no-repeat;
	color: #79bd00;
}
.section_hosting div.hosting article.medium div.button#medium{
	background: url('../img/button_medium.png') no-repeat;
	color: #01c3fe;
}
.section_hosting div.hosting article.unlimited div.button#unlimited{
	background: url('../img/button_unlimited.png') no-repeat;
	color: #dd00ff;
}
.section_hosting div.hosting article div.button:hover{
	cursor: pointer;
}
.section_hosting div.hosting article div.button:hover span{
	color: #000000;
}
/*
}.hosting
 */
/*
.details{
 */
.section_hosting div.details{
	margin-top: 80px;
	padding-top: 10px;
	height: 255px;
	display: none;
}
.section_hosting div.details div.registerDomain{
	float: left;
	padding-left: 50px;
	width: 530px;
}
.section_hosting div.details div.getStarted{
	float: right;
}
.section_hosting div.details div h3{
	font-size: 30px;
	color: #ffffff;
}
.section_hosting div.details div.registerDomain form{
	margin-top: 12px;
	height: 118px;
}
.section_hosting div.details div.registerDomain form input[name = "domainName"]{
	width: 160px;
	height: 45px;
	border: 1px solid #262626;
	background-color: #111111;
	padding-left: 10px;
	margin-top: 15px;
	color: #888888;

}
.section_hosting div.details div.registerDomain form div.collectionCheckBox{
	float: right;
	margin-left: 10px;
}
.section_hosting div.details div.registerDomain form div.collectionCheckBox ul{
	float: left;
	list-style: none;
	margin-left: 25px;
}
.section_hosting div.details div.registerDomain form div.collectionCheckBox ul li{
	margin-top: 15px;
	color: #888888;
}
.section_hosting div.details div.registerDomain ul.link{
	list-style: none;
	margin-top: 45px;
}
.section_hosting div.details div.registerDomain ul.link li{
	float: left;
	margin-right: 30px;
}
.section_hosting div.details div.registerDomain ul.link li a{
color: #fff;
}
.section_hosting div.details div.registerDomain div.checkDomain{
	width: 150px;
	height: 32px;
	border-radius: 8px;
	background: url('../img/button.gif') top repeat-x;
	float: right;
	padding-top: 13px;
	padding-left: 20px;
	font-size: 20px;
	color: #dd00ff;
}
.section_hosting div.details div.registerDomain div.checkDomain:hover{
	color: #000;
	cursor: pointer;
}
.section_hosting div.details div.getStarted{
	width: 220px;
	padding-right: 90px;
}
.section_hosting div.details div.getStarted span{
	color: #888;
	display: block;
}
.section_hosting div.details div.getStarted span:first-of-type{
	color: #fff;
	padding-top: 25px;
}
.section_hosting div.details div.getStarted span a{
	color: #dd00ff;
}
/*}.details
*/
