*{
	margin: 0px;
	padding: 0px;
}
body{
	width: 1000px;
	margin: auto;
	font: 13px Arial, Helvetica, sans-serif;
	background-color: #111;
	cursor: default;
}
/*
header{
 */
.header{
	max-width: 100%;
	height: 597px;
	background-image: url('../img/bg_header_webHosting.jpg');
	background-repeat: no-repeat;
}
.header .header_top{
	padding-top: 15px;
	padding-left: 75px;
	height: 30px;
}
.header .header_top ul{
	list-style: none;
	float: left;
}
.header .header_top ul li{
	float: left;
	margin-right: 10px;
}
.header .header_top ul :last-child{
	margin-right: 0px;
}
.header .header_top ul li:hover{
	cursor: pointer;
}
.header .header_top span{
	float: right;
	color: #888;
	font-size: 21px;
	margin-right: 50px;
}
.header .header_top span span.call{
	color: #ffffff;
	padding-left: 5px;
	margin-right: 0px;
}
.header .header_content{
	margin-top: 30px;
	margin-left: 45px;
}
.header .header_content nav{
	float: right;
	margin-right: 35px;
	margin-top: 40px;
}
.header .header_content nav ul{
	list-style: none;
	font-size: 21px;
}
.header .header_content nav ul{
	list-style: none;
	font-size: 21px;
}
.header .header_content nav ul :first-child{
	background: none;
	padding-left: 0px;
}

.header .header_content nav ul li{
	float: left;
	background: url('../img/menu_line.gif') 0 3px no-repeat;
	margin-right: 15px;
	padding-left: 15px; 
}
.header .header_content nav ul li:hover{
	cursor: pointer;
	color: #db00ff;	
}
.header .header_content span{
	display: block;
	font-size: 80px;
	text-shadow: 1px 1px 0px #878787;
	margin-left: 35px;
}
.header .header_content div.link{
	margin-top: 50px;
	margin-left: 35px;
}
.header .header_content div.link :last-child{
	color: #888888;
}
.header .header_content div.link span{
	font-size: 23px;
	color: #db00ff;
	margin-left: 0px;
	
}
/*
}header
 */
/*
section{
 */
.section_hosting{
	padding-left: 30px;
}

/*
}section
 */

/*footer{*/
.footer{
	margin-top: 90px;
	padding-bottom: 70px;
}
.footer span{
	color: #888;
	width: 307px;
	display: block;
	margin: auto;
}
/*}footer*/
